// variables
$color-white: #fff;
$color-gray-light-1: #f7f7f7;
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #fcba58;
$color-secondary-dark: #ff9900;

$color-gray-dark: #777;
$color-gray-light: rgb(238, 236, 236);
$color-mint-cream: mintcream;
$color-black: #000;

$color-green-light: rgb(200, 250, 193);
$color-green-dark: rgb(32, 194, 11);

$color-blue-light: rgb(129, 184, 247);
$color-blue-dark: rgb(65, 68, 247);


// GRID
$grid-width: 114rem;

$gutter-vertical: 8rem;

$gutter-horizontal: 6rem;


// fonts
$default-font-size: 1.6rem;